.myfeelings{
   background-color: rgba(12,32,255,1);
   /*  i wish my partner wouldn't just
   spend ALL of her "H" time on 'Rapture"
   events and stuffs, and spend some of
   those "H" time with me as well... 
  
   even for a
   little bit..
  
   it's starting to feel harder to
   try not to be envious seeing her 
   getting all touchy feely with the
   others, when she's barely ever in
   the mood with me..

   i don't know maybe i'm just over-
   reacting, 
  
   guess you can call me too horny and
   stuff, but that's just honestly
   what i'm feeling at this point.
   
   and i just can't stop
   thinking about it. */
   opacity: 1;
   display: inline-block;
}
