.thiswholesituation{
   background-color: rgba(12,32,255,1);
   /*
   hey, bazzy

   i believe that you're a really good person, and that you never meant ill.. 

   and i'm sorry for being an overcomplicated piece of trash and
   saying this for just over a petty fucking reason...

   but i
   honestly 
   I despise you.
   i'm sure you've read the reason i wrote 
   somewhere i could no longer access..

   i just wish you'd respect it..
   i'm genuinely losing sleep over this..

   well, among other things, but this is one of the reason..

   i'm sorry for blaming you 
   about me being tortured by my own thoughts..

   genuinely...

   please...
   tone it down ok?...
  
   -deba
   */
   opacity: 1;
   display: inline-block;
}
